.pimpo{
    color: rgb(255, 255, 255);


    text-align: center;
    font-size: 50px;
    font-family: "Diplomata", serif;
    font-weight: 400;
    font-style: normal;
    
   
}




.nav nav {
  display: flex;          
  justify-content: center;
  gap: 700px;              
}


.no-underline {
  text-decoration: none;
  color: rgb(61, 129, 194);
  font-size: 18px;
}
.reg {
  width: 250px;
  height: 320px;
  position: absolute;
  top: 60%;
  left: 36%;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  
}

.log {
  width: 250px;
  height: 320px;
  position: absolute;
  top: 60%;
  left: 55%;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  
}

@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic);

html,body{
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  
}

.background-image{
  z-index: -1;
  width: 110%;
  height: 110%;
  left: 0;
top: 0;
position: absolute;
background: url('mimimi.jpg')no-repeat left center / cover;



}
h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* From Uiverse.io by gagan-gv */ 
.btn {
  display: block;
  padding: 0.7em 1em;
  background: transparent;
  outline: none;
  border: 0;
  color: #1c3e9c;
  letter-spacing: 0.1em;
  font-family: monospace;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.cube {
  position: relative;
  transition: all 0.5s;
}

.cube .bg-top {
  position: absolute;
  height: 10px;
  background: #2a67c4;
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
  transition: all 0.4s;
}

.cube .bg-top .bg-inner {
  bottom: 0;
}

.cube .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: #2c64b8;
  transition: all 0.4s;
}

.cube .bg-right {
  position: absolute;
  background: #2a6cb8;
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
  transition: all 0.4s;
}

.cube .bg-right .bg-inner {
  left: 0;
}

.cube .bg-inner {
  background: #656575;
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
}

.cube .text {
  position: relative;
  transition: all 0.4s;
}

.cube:hover .bg-inner {
  background: #d4af37;
  transition: all 0.4s;
}

.cube:hover .text {
  color: #28282d;
  transition: all 0.4s;
}

.cube:hover .bg-right,
.cube:hover .bg,
.cube:hover .bg-top {
  background: #28282d;
}

.cube:active {
  z-index: 9999;
  animation: bounce 0.1s linear;
}

@keyframes bounce {
  50% {
    transform: scale(0.9);
  }
}
